

.cartContainer{
    margin: auto;
    margin-top: 5%;
    display: grid;
    justify-content: center;
    gap: 2vmax;
}

.spinnerContainer{
    margin: auto;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35vh;
}