
.cardContainer{
    width: 60vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 1% 0%;
    background-color: white;
    font-size: 0.95vmax;
    gap: 5%;

    .firstSection{
        width: 35%;
        display: inline-flex;
        gap: 1%;
        margin-left: 1%;

        .imgContainer{
            width: 50%;
            display: flex;
            justify-content: center;

            img{
                width: 100%;
                height: 100%;
            }
        }

        .priceRatingWrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: self-start;
            text-align: left;
            margin: 10% 0;
            

            .titlePriceWrapper{
                height: 40%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin-bottom: 5vh;

                .title{
                    width: 10vw;
                    height: 5vh;
                    font-size: 1.2vmax;
                    font-weight: bold;
                    overflow-y: visible;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    .secondSection{
        width: 60%;
        display: flex !important;
        flex-direction: column;
        align-items: self-start;
        margin-right: 2%;

        .description{
            height: 60%;
            width: 100%;
            text-align: left;
            overflow: hidden;
            margin-bottom: 1%;
            font-size: 0.95vmax;
        }

        .btnWrapper{
            width: 15%;
            display: flex;
            align-self: self-end;
            justify-content: space-between;
            align-items: center;

            button:hover{
                cursor: pointer;
                scale: 1.1;
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .cardContainer{
        height: 9vh;
        width: 90vw;

        .btnWrapper{
            display: flex;
            justify-content: space-between;
            width: 10vw !important;

            button{
                height: 2vh;
                width: 8vw;
                font-size: 0.8vmax;
                padding: 0;
            }
        }
    }
}