

.formContainer{
    width: 40vw;
    margin: auto;
    margin-top: 5.5vh;
    font-size: 1.15vmax;


    .productForm{
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 5% 8%;
        gap: 0.8vmax;
        text-align: left;

        .header{
            font-size: 1.3vmax;
            font-weight: bold;
            margin-bottom: 1%;
        }

        input{
            height: 2vmax;
        }

        button{
            align-self: flex-end;
            padding: 0.5% 5%;
            font-size: 1.2vmax;
            margin-top: 2%;
        }
        
        button:hover{
            cursor: pointer;
            scale: 1.1;
        }
    }
}
